.App- {
  background-image: url(bg.png);
  background-position: center;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.Content {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  flex-direction: column;
}

.draggable {
  border: 1px solid black;
  width: 30px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.TabH .Tab1 {
  margin: 5px;
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: scroll;
  min-height: 600px;
}
.TabH tbody {
  display: table;
  width: 100%;
}

.Tab1 td {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: rgb(255, 0, 0);
  opacity: 0.5;
  margin: 6px;

  z-index: 1;
  border: 6px solid black;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.Buttons1 {
  background-color: limegreen;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 7px;
}
